@{
    ViewData["Title"] = "Second Example Controller Index Page";
    Layout = "~/Views/Shared/ExampleLayout.cshtml";
}

@section header
{
    <p>These codes will be placed under the header</p>
}

@section footer
{
    <p>These codes will be placed under the footer</p>
}

<div> This is example controller index page</div>